---
name: Release
on:
  push:
    branches:
      - main
env:
  GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Setup Dependencies
        run: npm install -g semantic-release semantic-release-major-tag
      - name: Release
        run: npx semantic-release
